@model MII_Media.Models.Post
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + Model.PostPath;
}

<h1>Details</h1>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                <h4>Caption : @Model.Caption</h4>
            </div>
            <div class="card-body text-dark">
                <h4>Comments:</h4>
                @foreach (var com in Model.Comments)
                {
                    <h5 style="font-family:'Times New Roman', Times, serif">@com.Commenter</h5>
                    <h6>@com.Message</h6>
                    <a asp-controller="comment" asp-action="delete"
                       asp-route-id="@com.CommentId" class="btn btn-danger">Delete Comment</a>
                    <hr />
                }
            </div>
            <div class="card-footer text-center">
                <a asp-controller="account" asp-action="profile" class="btn btn-secondary">Back</a>
                <a asp-controller="post" asp-action="edit"
                   asp-route-id="@Model.PostId" class="btn btn-primary">Edit</a>
                <a asp-controller="post" asp-action="delete"
                   asp-route-id="@Model.PostId" class="btn btn-danger">Delete</a>
                <a asp-controller="comment" asp-action="create" 
                   asp-route-id="@Model.PostId" class="btn btn-success">Add Comment</a>

            </div>
        </div>
    </div>
</div>
